* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: linear-gradient(150deg , #1f2937,#3b4861);
  color: #fff;
  font-family: cursive;
}

h1#title {
  font-size: 3rem;
  color: white;
  margin-bottom: 20px; 
}